<div class="flex h-screen relative">
  <!-- Botón superior derecho para redirigir al home -->
  <div class="absolute top-4 right-4 text-right">
    <span class="text-sm text-gray-700">¿Todavía no tienes una cuenta? </span>
    <button (click)="goToHome()" class="text-yellow-500 hover:text-yellow-600 hover:underline transition duration-300">
      Visita nuestra página
    </button>
  </div>

  <!-- Imagen de fondo en la mitad izquierda (oculta en pantallas pequeñas) -->
  <div class="fondo-imagen relative lg:w-1/2 h-full bg-cover bg-center">
    <!-- El contenido irá aquí -->
  </div>

  <!-- Contenedor del formulario de inicio de sesión -->
  <div class="flex items-center justify-center w-full p-6 lg:w-1/2 bg-gray-50">
    <div class="w-full max-w-md bg-gray-100 p-8 rounded-lg shadow-2xl transition duration-500 hover:shadow-3xl">
      <h1 class="mb-6 text-3xl font-bold text-center text-gray-900">Inicia sesión para descubrir tu nueva imagen en 3D</h1>
      
      <div *ngIf="errorMessage" class="mb-4 text-center text-red-500 font-semibold">
        {{ errorMessage }}
      </div>
  
      <!-- Formulario de inicio de sesión -->
      <form (ngSubmit)="login()" class="px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold text-gray-800" for="correo">Correo:</label>
          <input class="w-full px-4 py-3 leading-tight text-gray-800 border border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-700 focus:border-gray-700 transition duration-300" id="correo" [(ngModel)]="credentials.correo" name="correo" required>
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold text-gray-800" for="contraseña">Contraseña:</label>
          <input class="w-full px-4 py-3 leading-tight text-gray-800 border border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-700 focus:border-gray-700 transition duration-300" id="contraseña" type="password" [(ngModel)]="credentials.password" name="contraseña" required>
        </div>

        <!-- Botón de inicio de sesión -->
        <div class="flex items-center justify-between">
          <button class="w-full px-4 py-3 font-bold text-gray-900 bg-yellow-500 rounded-lg shadow-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-50 transition duration-300" type="submit">
            Iniciar sesión
          </button>
        </div>
      </form>

      <!-- Opción para registrarse -->
      <div class="mt-4 text-center">
        <span class="text-sm text-gray-700">¿No tienes una cuenta? </span>
        <button (click)="goToRegister()" class="text-yellow-500 hover:text-yellow-600 hover:underline transition duration-300">
          Regístrate
        </button>
      </div>
    </div>
  </div>
</div>
