<section class="bg-gray-100 text-gray-700 py-16 text-center">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold text-gray-900 mb-4">Descubre tu posible nueva imagen en 3D antes de la cirugía</h1>
    <p class="text-gray-600 mb-6">Sube 3 fotos y simula el antes y después de tu cirugía en tiempo real.</p>
    <button class="px-6 py-3 bg-yellow-500 text-gray-900 font-semibold rounded hover:bg-yellow-600" (click)="redirectToLogin()">Empezar Simulación 3D</button>
  </div>
</section>
