<div class="container mx-auto mt-5">
  <h1 class="mb-4 text-2xl font-bold">Lista de Doctores</h1>
  <table class="min-w-full bg-white border">
    <thead>
      <tr>
        <th class="px-4 py-2 border">ID</th>
        <th class="px-4 py-2 border">Telefono</th>
        <th class="px-4 py-2 border">Especialidad</th>
        <th class="px-4 py-2 border">Disponibilidad</th>
        <th class="px-4 py-2 border">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctores">
        <td class="px-4 py-2 border">{{ doctor.id }}</td>
        <td class="px-4 py-2 border">{{ doctor.telefono }}</td>
        <td class="px-4 py-2 border">{{ doctor.especialidad }}</td>
        <td class="px-4 py-2 border">{{ doctor.disponibilidad }}</td>
        <td class="px-4 py-2 border">
          <button class="px-3 py-1 text-white bg-red-500 rounded" (click)="eliminarDoctor(doctor.id)">Eliminar</button>
          <button class="px-3 py-1 text-white bg-green-500 rounded" (click)="abrirModalEditar(doctor.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para agregar un nuevo doctor -->
  <div class="mt-4">
    <button class="px-4 py-2 text-white bg-blue-500 rounded" (click)="abrirModal()">Agregar nuevo doctor</button>
  </div>
</div>

<!-- Modal para registrar un nuevo doctor -->
<div *ngIf="mostrarModal" class="fixed inset-0 z-10 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div class="p-8 bg-white rounded-lg shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Registrar nuevo Doctor</h2>

      <form (ngSubmit)="agregarDoctor()">
        <label class="block mb-2">Telefono:</label>
        <input type="text" [(ngModel)]="nuevoDoctor.telefono" name="nombre" class="w-full p-2 mb-4 border" required />

        <label class="block mb-2">Especialidad:</label>
        <input type="text" [(ngModel)]="nuevoDoctor.especialidad" name="especialidad" class="w-full p-2 mb-4 border" required />

        <label class="block mb-2">Disponibilidad:</label>
        <input type="email" [(ngModel)]="nuevoDoctor.disponibilidad" name="correo" class="w-full p-2 mb-4 border" required />

        <div class="flex justify-end">
          <button type="button" class="px-4 py-2 mr-4 text-white bg-gray-500 rounded" (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="mostrarModalEditar" class="fixed inset-0 z-10 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div class="p-8 bg-white rounded-lg shadow-lg">
      <h2 class="mb-4 text-xl font-bold">Editar Doctor</h2>

      <form (ngSubmit)="editarDoctor(doctorIdEditable)">
        <label class="block mb-2">Telefono:</label>
        <input type="text" [(ngModel)]="nuevoDoctor.telefono" name="nombre" class="w-full p-2 mb-4 border" required />

        <label class="block mb-2">Especialidad:</label>
        <input type="text" [(ngModel)]="nuevoDoctor.especialidad" name="especialidad" class="w-full p-2 mb-4 border" required />

        <label class="block mb-2">Disponibilidad:</label>
        <input type="email" [(ngModel)]="nuevoDoctor.disponibilidad" name="correo" class="w-full p-2 mb-4 border" required />

        <div class="flex justify-end">
          <button type="button" class="px-4 py-2 mr-4 text-white bg-gray-500 rounded" (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div> 
