@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegúrate de que el contenedor principal ocupe toda la pantalla */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#app-root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}