<nav class="fixed flex flex-col justify-between w-64 h-screen text-white bg-gray-800">
  <div class="p-4">
      <!-- Mostrar el nombre del usuario logueado -->
      <h2 class="mb-4 text-lg font-semibold">Bienvenido, {{ userName }}</h2>

      <h1 class="mb-6 text-xl font-bold">Panel Administrativo</h1>

      <ul class="mt-4">
          <li>
            <a (click)="navigateTo('/doctor')" class="block p-2 hover:bg-gray-700">
              <i class="mr-2 fas fa-user-md"></i>
              Doctores
            </a>
          </li>
          <li>
            <a (click)="navigateTo('/pago')" class="block p-2 hover:bg-gray-700">
              <i class="fa fa-credit-card-alt"></i>
              Pagos
            </a>
          </li>
          <li>
            <a (click)="navigateTo('/citas')" class="block p-2 hover:bg-gray-700">
              <i class="fa fa-address-book"></i>
              Citas
            </a>
          </li>
          <li>
            <a (click)="navigateTo('pacientes')" class="block p-2 hover:bg-gray-700">
              <i class="mr-2 fas fa-user"></i>
              Pacientes
            </a>
          </li>
          <li>
            <a (click)="navigateTo('procedimientos')" class="block p-2 hover:bg-gray-700">
              <i class="mr-2 fa fa-cloud"></i>
              Procedimientos
            </a>
          </li>
      </ul>
  </div>

  <!-- Botón de Cerrar Sesión -->
  <div class="p-4">
      <button (click)="logout()" class="w-full p-2 text-white bg-red-600 rounded hover:bg-red-700">
          <i class="mr-2 fa fa-sign-out-alt"></i>
          Cerrar Sesión
      </button>
  </div>
</nav>
